<ion-header>
  <ion-toolbar>
    <ion-title>
      List of Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of this.posts">
    <img src="{{ post.image }}" />
    <ion-card-header>
      <ion-card-title>{{ post.title }}</ion-card-title>
      <ion-card-subtitle>Author: {{ post.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="deletePost(post.id)" color="danger" shape="round">
      Eliminar
    </ion-button>
    <ion-card-content>
      {{ post.comment }}
    </ion-card-content>
  </ion-card>
</ion-content>
